//define color variables
$primary-color: #FF6D00;

.hackerNews {
    &__header {
        &__nav {
            background-color: $primary-color;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }
        &__inner.container {
            display: flex;
            justify-content: space-between;
            a.logo {
                display: flex;
                align-items: center;
                text-decoration: none; 
                img {
                    width: 40px;
                    margin-right: 10px;
                }
                h3 {
                    color: #fff;
                    font-weight: 400;
                    font-size: 25px;
                    margin: 0;
                }
            }
            .searchUser {
                display: flex;
                align-items: center;
                &__search {
                    span {
                        color: #fff;
                        cursor: pointer;
                    }
                }
                &__user {
                    margin-left: 20px;
                    span {
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
        &__filter {
            background: #f1f1f1;
            min-height: 54px;
            display: flex;
            align-items: center;
            .hackerNews__header__inner {
                flex-wrap: wrap;
                span {
                    border-radius: 50px;
                    background-color: #fff;
                    color: #000;
                    padding: 6px 20px;
                    margin-right: 8px;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
                .right_bar {
                    span {
                        margin: 0;
                    }
                }
            }
        }
    }

    //list of news
    .news__list {
        h1 {
            text-align: center;
            font-weight: 500;
        }
        .list_container {
            background: #fff;
            border: 1px solid #f1f1f1;
            padding: 10px 18px;
            overflow: hidden;
            .news__listItems {
                .news__listItem {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 15px 0;
                    position: relative;
                    &:last-child:after {
                        display: none;
                    }
                    &:after {
                        content: '';
                        width: 104%;
                        margin: 0 -25px;
                        border-bottom: 1px solid #f1f1f1;
                        position: absolute;
                        bottom: -9px;
                    }
                    .news_pointInfo {
                        display: flex;
                        align-items: center;
                        .news__point {
                            margin-right: 25px;
                            position: relative;
                            span {
                                font-size: 20px;
                                font-weight: 600;
                                color: $primary-color;
                                display: block;
                                text-align: center;
                            }
                            label {
                                text-align: center;
                                color: #bbbbbb;
                            }
                            &:after {
                                content: " ";
                                display: block;
                                border-left: 2px solid #f1f1f1;
                                height: 45px;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 45px;
                            }
                        }
                        .all_news_info {
                            h2 {
                                margin: 0;
                                font-weight: 500;
                                line-height: 30px;
                            }
                            .time_author_url {
                                display: flex;
                                align-items: center;
                                flex-wrap: wrap;
                                color: #bbbbbb;
                                .material-icons {
                                    font-size: 12px;
                                    position: relative;
                                    top: 2px;
                                    margin-right: 2px;
                                }
                                span:not(.material-icons){
                                    font-size: 14px;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                                label {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .read_more {
                        border-radius: 50px;
                        background-color: #f1f1f1;
                        padding: 8px 20px;
                        text-decoration: none;
                        color: #000;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}


@media (min-width: 320px){
    .container {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1280px;
    }
    .hackerNews__header__inner.container a.logo h3 {
        display: none;
    }
    .hackerNews__header__filter {
        .hackerNews__header__inner {
            padding-top: 15px;
            .left_bar {
                display: flex;
                flex-wrap: wrap;
                a {
                    text-decoration: none;
                }
                span {
                    margin-bottom: 15px;
                    display: block;
                }
            }
        }
    }
    .hackerNews {
        .news__list.container {
            width: auto;
            .list_container {
                .news__listItems {
                    .news__listItem {
                        min-height: 100px;
                        flex-direction: column;
                        align-items: flex-start;
                        .news_pointInfo {
                            padding-right: 0;
                            display: block;
                            .news__point {
                                margin-right: 0;
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                margin-top: 15px;
                                span:first-child {
                                    margin-right: 5px;
                                }
                                &:after {
                                    border-bottom: 2px solid #f1f1f1;
                                    width: 45px;
                                    height: 0;
                                    left: 0;
                                    top: 24px;
                                }
                            }
                        }
                        .read_more {
                            position: inherit;
                            margin: 18px 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    .hackerNews__header__inner.container a.logo h3 {
        display: block;
    }
    .hackerNews {
        .news__list.container {
            .list_container {
                .news__listItems {
                    .news__listItem {
                        min-height: auto;
                        flex-direction: row;
                        align-items: inherit;
                        .news_pointInfo {
                            padding-right: 0;
                            display: flex;
                            width: 80%;
                            .news__point {
                                margin-right: 25px;
                                display: block;
                                margin-bottom: 0;
                                margin-top: 0;
                                span:first-child {
                                    margin-right: 5px;
                                }
                                &:after {
                                    border-left: 2px solid #f1f1f1;
                                    height: 45px;
                                    width: 0;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 45px;
                                }
                            }
                        }
                        .read_more {
                            margin: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            height: 20px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 960px){
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hackerNews {
        .news__list.container {
            width: auto;
            .list_container {
                .news__listItems {
                    .news__listItem {
                        .news_pointInfo {
                            padding-right: 20px;
                        }
                        .read_more {
                            width: 100px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

//Model style 
.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}
    
.modal_content {
    background-color: white;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 20%;
    height: 265px;
    padding: 20px;
    width: 300px;
    margin-top: 78px;
    border-radius: 5px;
    padding: 2.5em 1.5em 1.5em 1.5em;
    border: 2px solid #f1f1f1;

    .material-icons {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5em;
        line-height: 1;
        background: #f6f6f7;
        border: 0;
        box-shadow: 0;
        cursor: pointer;
    }

    form {
        padding-top: 13px;
    }

    .form-group {
        margin-bottom: 1rem;
    }
    
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    .form-control {
        display: block;
        width: 274px;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn {
        display: inline-block;
        font-weight: 400;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn-primary {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
    }
    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

